footer {
  background-color: #f8f9fa;
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;

  nav {
    margin-bottom: 10px;
    a {
      text-decoration: none;
      color: $blue;
      padding-right: 10px;

      &::before {
        content: '';
      }
    }

    a:not(.dot) {
      &::before {
        content: '∙ ';
        padding-right: 10px;
      }
    }
  }

  p {
    font-weight: 300;
    line-height: 3em;
  }

  .social-media {
    img {
      width: 30px;
      height: 30px;
      padding-right: 20px;
    }
  }
}
